{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "tenant_configuration": "[{\"tenant_region\": \"eu-de\", \"tenant_name\": \"test-tenant\", \"target_name\": \"test-target\", \"log_sink_crn\": \"crn:v1:bluemix:public:logs:us-east:a/abac0df06b644a9cabc6e44f55b3880e:6e931667-0f47-4c59-be2e-fa9b9f13f1a4::\"}]"
}
